* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e9e9e9;
}

.container {
  min-width: 100vw;
  min-height: 95vh;
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  padding: 5% 0;
}

.ad_dummy_before {
  flex: 0;
  transition: flex 0.5s;
}

.ad_dummy_after {
  flex: 0;
  transition: flex 0.5s;
}

.ad_wrapper {
  /* width: 80%; */
  flex: 0.8;
  height: 60%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
  align-items: center;
}

.ad_photo {
  position: relative;
  width: 80%;
  height: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.ad_photo img {
  max-width: 100%;
  height: auto;
}

.ad_detail_price {
  padding: 10px;
}

.ad_detail_timeframe {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent line breaks */
  overflow-x: auto;
}

.ad_detail_timeframe .separator {
  margin: 0 10px;
}

#buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  max-width: 100%; /* Allow buttons to take full width if necessary */
  overflow: auto; /* Add overflow for scrolling if necessary */
}

#buttons button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  max-width: 100%;
  flex: 1; /* Allow buttons to flexibly distribute width */
}

.todo_essentials {
  padding: 10px 20px;
}

.delete_button:hover,
.delete_button:focus {
  background-color: #9c0315;
}

@media only screen and (min-width: 600px) {
  .container {
    min-width: 0;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .card:hover .delete_button {
    transform: scaleX(1) !important;
  }
}
