* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e9e9e9;
}

.container {
  min-width: 100vw;
  min-height: 95vh;
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  padding: 5% 0;
}

.ad_wrapper {
  width: 80%;
  height: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
  align-items: center;
}

.ad_photo {
    width: 80%;
    height: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5%
}


.nav_bar {
  min-width: 100vw;
  min-height: 5vh;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 600px) {
  .container {
    min-width: 0;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .card:hover .delete_button {
    transform: scaleX(1) !important;
  }
}
