
.profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95dvh;
    width: 100%;
}

.profile_element {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: var(--surface);
    padding: 5px;
    margin: 5px;
    border-radius: var(--round-corner);
}



.profile_tag {
    color: var(--primary);
    flex: 0.4;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.profile_info {
    display: flex;
    flex: 0.6;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.profile_element_wrapper {
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

.profile_element_image, .profile_element_description {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile_element_image {
    margin-left: 0;
}

.profile_element_description {
    margin-right: 0;
}

.profile_tag_image, .profile_tag_description {
    flex: 0.1;
}

.profile_info_image {
    width: 100%;
    border-radius: var(--round-corner);
}

.profile_info_description {
    flex: 0.9;
}

.profile_info_verification {
    justify-content: end;
}

.profile_info_verification_checkmark {
    color: var(--primary);
    flex:0.1;
}


.floating_button {
    background-color:var(--secondary);
    color:var(--text-secondary);
    box-shadow: 5px 5px 5px var(--shadow);

    position:fixed;
    width:7dvh;
    height:7dvh;
    bottom:8dvh;
    right: 2dvh;
    border-radius:50px;
    text-align:center;
    text-decoration: none;

}

.floating_button_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}